<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-watchlist-form">
    <div>
      <input name="watchlist-title" type="text" value="{{watchlist.title}}" />
      {{!-- <span>({{format_url post.post_url}})</span> --}}
    </div>
    <div>
      {{!-- {{post.vote_count}} {{format_plural "point" post.vote_count}} by you on {{format_date post.created_at}} --}}
      |
      <a href="/watchlists/{{watchlist.id}}">{{watchlist.reviews.length}} {{format_plural "review" watchlist.reviews.length}}</a>
    </div>
    <button type="submit">Save watchlist</button>
    <button type="button" class="delete-watchlists-btn">Delete watchlist</button>
  </form>
</article>

<form class="reviews-form">
  <div>
    <textarea name="reviews-body"></textarea>
  </div>

  <div>
    <button type="submit">add review</button>
  </div>
</form>

{{> reviews watchlist.reviews}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/reviews.js"></script>