<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Watchlist
  </h2>
  <form class="edit-watchlist-form">
    <div>
      <input name="watchlist-title" type="text" value="{{watchlist.title}}" />
      {{!-- <span>({{format_url watchlist.watchlist_url}})</span> --}}
    </div>
    <div>
      {{!-- {{watchlist.vote_count}} {{format_plural "point" watchlist.vote_count}} by you on {{format_date watchlist.created_at}} --}}
      |
      <a href="/watchlists/{{watchlist.id}}">{{watchlist.shows.length}} {{format_plural "show" watchlist.shows.length}}</a>
    </div>
    <button type="submit">Save watchlist</button>
    <button type="button" class="delete-watchlists-btn">Delete watchlist</button>
  </form>
</article>

<form class="shows-form">
  <div>
    <textarea name="shows-body"></textarea>
  </div>

  <div>
    <button type="submit">add show</button>
  </div>
</form>

{{> shows watchlist.shows}}

<script src="/javascript/edit-watchlist.js"></script>
<script src="/javascript/delete-watchlist.js"></script>
<script src="/javascript/shows.js"></script>